.contactContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.contactItem {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 600px;
  padding: 10px;
}

.iconColumn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.textColumn {
  margin-left: 4px;
}

.textColumn h3 strong {
  font-size: 1rem;
}

@media (max-width: 768px) {
  .contactItem {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .textColumn {
    margin-left: 0;
    text-align: center;
  }
}
